<div class="container mt-3">
  <div class="row">
    <div class="col-sm-4">
      <h1>Your Profil - Edit</h1>
    </div>
    <div class="col-sm-8">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information: </strong>Save your changes!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="{{user.photoUrl}}" alt="{{user.username}}" class="card-img-top img-thumbnail">
        <div class="card-body">
          <strong class="mr-2">Age:</strong>
          <p class="d-inline-block">{{user.age}}</p>
        </div>

        <div class="card-body">
          <strong class="mr-2">Zodiac sign:</strong>
          <p class="d-inline-block">{{user.zodiacSign}}</p>
        </div>
        <div class="card-body">
          <strong class="mr-2">City:</strong>
          <p class="d-inline-block">{{user.city}}</p>
        </div>
        <div class="card-body">
          <strong class="mr-2">Country:</strong>
          <p class="d-inline-block">{{user.country}}</p>
        </div>
        <div class="card-body">
          <strong class="mr-2">Last active:</strong>
          <p class="d-inline-block">{{user.lastActive | date}}</p>
        </div>
        <div class="card-body">
          <strong class="mr-2">User from:</strong>
          <p class="d-inline-block">{{user.created | date}}</p>
        </div>
      </div>
      <div class="card-footer">
        <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">Save</button>
      </div>
    </div>

    <div class="col-sm-8">
      <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
        <div class="tab-panel">
          <tabset class="user-tabset">
            <tab heading="Information">
              <table class="user-table">
                <tr>
                  <td class="user-table-td">
                    <h5>Growth</h5>
                    <textarea class="form-control" name="growth" rows="1" [(ngModel)]="user.growth"></textarea>
                  </td>
                  <td class="user-table-td">
                    <h5>EyeColor</h5>
                    <textarea class="form-control" name="eyeColor" rows="1" [(ngModel)]="user.eyeColor"></textarea>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>MartialStatus</h5>
                    <textarea class="form-control" name="martialStatus" rows="1"
                      [(ngModel)]="user.martialStatus"></textarea>
                  </td>
                  <td>
                    <h5>Education</h5>
                    <textarea class="form-control" name="education" rows="1" [(ngModel)]="user.education"></textarea>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>Profession</h5>
                    <textarea class="form-control" name="profession" rows="1" [(ngModel)]="user.profession"></textarea>
                  </td>
                  <td>
                    <h5>Languages</h5>
                    <textarea class="form-control" name="languages" rows="1" [(ngModel)]="user.languages"></textarea>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h5>City</h5>
                    <textarea class="form-control" name="city" rows="1" [(ngModel)]="user.city"></textarea>
                  </td>
                  <td>
                    <h5>Country</h5>
                    <textarea class="form-control" name="country" rows="1" [(ngModel)]="user.country"></textarea>
                  </td>
                </tr>
                <tr>
                  <td class="user-table-td">
                    <h5>Has children</h5>
                    <textarea class="form-control" name="children" rows="1" [(ngModel)]="user.children"></textarea>
                  </td>
                  <td>

                  </td>
                </tr>
              </table>
            </tab>
            <tab heading="About me">
              <h5>Motto</h5>
              <textarea class="form-control" rows="4" name="motto" [(ngModel)]="user.motto"></textarea>
              <h5>Description</h5>
              <textarea class="form-control" rows="4" name="description" [(ngModel)]="user.description"></textarea>
              <h5>Personality</h5>
              <textarea class="form-control" rows="4" name="personality" [(ngModel)]="user.personality"></textarea>
              <h5>Looking for</h5>
              <textarea class="form-control" rows="4" name="lookingFor" [(ngModel)]="user.lookingFor"></textarea>
            </tab>
            <tab heading="Interests">
              <h5>Interests</h5>
              <textarea class="form-control" rows="2" name="interests" [(ngModel)]="user.interests"></textarea>
              <h5>Free Time</h5>
              <textarea class="form-control" rows="2" name="freeTime" [(ngModel)]="user.freeTime"></textarea>
              <h5>Sport</h5>
              <textarea class="form-control" rows="2" name="sport" [(ngModel)]="user.sport"></textarea>
              <h5>Movies</h5>
              <textarea class="form-control" rows="2" name="movies" [(ngModel)]="user.movies"></textarea>
              <h5>Music</h5>
              <textarea class="form-control" rows="2" name="music" [(ngModel)]="user.music"></textarea>
            </tab>
            <tab heading="Preferences">
              <h5>I like</h5>
              <textarea class="form-control" rows="2" name="iLike" [(ngModel)]="user.iLike"></textarea>
              <h5>I don't like</h5>
              <textarea class="form-control" rows="2" name="idoNotLike" [(ngModel)]="user.idoNotLike"></textarea>
              <h5>Makes me laugh</h5>
              <textarea class="form-control" rows="2" name="makesMeLaugh" [(ngModel)]="user.makesMeLaugh"></textarea>
              <h5>It feels best in</h5>
              <textarea class="form-control" rows="2" name="itFeelsBestIn" [(ngModel)]="user.itFeelsBestIn"></textarea>
              <h5>Friende would describe me</h5>
              <textarea class="form-control" rows="2" name="friendeWouldDescribeMe"
                [(ngModel)]="user.friendeWouldDescribeMe"></textarea>
            </tab>
            <tab heading="Photos">
              <h1>To do</h1>
            </tab>

          </tabset>
        </div>
      </form>
    </div>

  </div>
</div>
