.card img {
  transform: scale(1.0, 1.0);
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
}

.card:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
  opacity: 0.9;
}

.card-image-wraper {
  position: relative;
  overflow: hidden;
}

.user-icons {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  opacity: 0;
}

.card-image-wraper:hover .user-icons {
  bottom: -10%;
  opacity: 0.8;
}

.animate {
  transition: all 0.4s ease-in-out;
}
