<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12">
      <a href="https://last-minute.io/">
        <img src="../../../assets/baner1.png" alt="Place for..." class="card-img-top"/>
      </a>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">

    <div class="col-lg-2 col-md-4 col-sm-6">
      <a href="">
        <img src="../../../assets/banerVertical.jpg" alt="Place for..." class="card-img-top"/>
      </a>
      <a href="">
        <img src="../../../assets/banerVertical.jpg" alt="Place for..." class="card-img-top"/>
      </a>
      <a href="">
        <img src="../../../assets/banerVertical.jpg" alt="Place for..." class="card-img-top"/>
      </a>
      <a href="">
        <img src="../../../assets/banerVertical.jpg" alt="Place for..." class="card-img-top"/>
      </a>
      <a href="">
        <img src="../../../assets/banerVertical.jpg" alt="Place for..." class="card-img-top"/>
      </a>
      <a href="">
        <img src="../../../assets/banerVertical.jpg" alt="Place for..." class="card-img-top"/>
      </a>
    </div>

    <div class="col-lg-10 col-md-8 col-sm-6">
      <div class="row">
        <div *ngFor="let user of users" class="col-lg-2 col-md-4 col-sm-6">
          <app-user-card [user]='user'></app-user-card>
        </div>
      </div>

    </div>
  </div>
</div>
